<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MMM.yy HH:mm:ss.SSS} - %m%n"/>
        </Console>
        <RollingFile name="DebugFile" fileName="${sys:user.home}/log_FxLdap/debug.log" immediateFlush="false" append="true" filePattern="${sys:user.home}/log_FxLdap/debug.%i.log.gz">
             <PatternLayout pattern="[%-5level] %d{dd.MMM.yy HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
         <RollingFile name="ErrorFile" fileName="${sys:user.home}/log_FxLdap/error.log" immediateFlush="false" append="true" filePattern="${sys:user.home}/log_FxLdap/error.%i.log.gz">
             <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
             <Policies>
                 <SizeBasedTriggeringPolicy size="10MB" />
             </Policies>
        </RollingFile>
        <RollingFile name="InfoFile" fileName="${sys:user.home}/log_FxLdap/info.log" immediateFlush="false" append="true" filePattern="${sys:user.home}/log_FxLdap/info.%i.log.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="DebugFile" level="trace"/>
            <AppenderRef ref="ErrorFile" level="warn"/>
            <AppenderRef ref="InfoFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>